[submodule "themes/themes/hugo-nuo"]
	path = themes/themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
