[submodule "themes/themes/hugo-nuo"]
	path = themes/themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
